[Unit]
Description=Runs ~/.bin/backup_files.bash on a Schedule

[Timer]
OnCalendar=weekly
Persistent=true
Unit=backup_files.service

[Install]
WantedBy=timers.target
